<html>

<head>
    <title>attendance</title>

</head>

<body>
    <h1>Student Attendance Portal</h1>
    <br>
    <br>
    <div class="container">
        <form action="lastpage" method="POST">
            <input name="cid" value="<%= attend[0].cid %>" readonly>
            <h3><%= attend[0].cname %></h3>
            <h3><%= attend[0].fid %></h3>
            <h3><%= attend[0].fname %></h3>
            <table>
                <tr>
                    <th>Student ID</th>
                    <th>attendance</th>
                </tr>
                
               
                <% attend.forEach(function (user) { %>
                    <tr>
                        <td><input name="sid" value="<%= user.sid %>" readonly></td>
                         <td><select id="<%= user.sid %>" name="selectpick">
                                <option value="0">0</option>
                                <option value="1">1</option>
                            </select></td>
                    </tr>
                    <% }) %>
            </table>
           <br> 
            <button type="submit">submit</button>

        </form>

    </div>


</body>

</html>