
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Faculty Attendance View</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
   
</head>
<style>
        body {           
            background-color: #E4E9FD;
            background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
            margin-top: 20px;
            margin-left: 20px;
            font-family: 'Roboto', sans-serif;
        }  
        .row {  margin-left: 450px; font-size: 18px; font-weight: 500; }   
        header { margin-top: 20px; margin-left: 500px; margin-bottom: 30px; }  
        table, td, th {
            margin-top: 20px;
            border: 1px solid black;
            text-align: center;
            margin-left: 400px;
            height: 35px;
            padding: 8px;
        }
        table {
        border-collapse: collapse;
        width: 60%;
        }
        th {
            background-color: rgb(0,0,0,0.7);
            color: white;
        }
        td { height: 30px; }
        tr:nth-child(even) {background-color: #f2f2f296;}
        tr:nth-child(odd) {background-color: rgba(245, 245, 245, 0.842)}
        button { margin-left: 600px; margin-top: 20px;}
    </style>

<body>
    <header>
        <h1>Attendance Management System</h1><br>    
    </header>
    <div class="row">
        Course ID : <%= data[0] %> &nbsp; &nbsp; &nbsp;
        Course Name : <%= data[1] %>
    </div>
    <div class="row">
        Faculty ID : <%= data[2] %> &nbsp; &nbsp; &nbsp;
        Faculty Name : <%= data[3] %>
    </div>
    <% var arr = []; var i=0; %>
    <table id="tblData">
        <tr>        
            <th>SName</th>    
            <% cols.forEach(function (col) { %>                
                    <th><%= col %></th>
                    <% arr[i++] =  col;  %>                    
            <% }) %>
        </tr> 
        <% var j=0; %>             
        <% info.forEach(function (student) { %>
            <tr>                 
                <td><%= studentnm[j++] %></td>     
                <% for (i=0;i<arr.length;i++) { %>
                    <% var x = arr[i]; %>
                    <td><%= student[x] %></td>
                <% } %>
            </tr>            
        <% }) %>
    </table>
    <button class="btn btn-primary btn-lg" onclick="exportTableToExcel('tblData', 'members-data')">Export Table Data To Excel File</button>
    <a class="btn btn-primary btn-lg" style="margin-top: 20px;" href="/logout" role="button">Log Out</a>

    <script>
        function exportTableToExcel(tableID, filename = ''){
        var downloadLink;
        var dataType = 'application/vnd.ms-excel';
        var tableSelect = document.getElementById(tableID);
        var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');        
        // Specify file name
        filename = filename?filename+'.xls':'excel_data.xls';        
        // Create download link element
        downloadLink = document.createElement("a");        
        document.body.appendChild(downloadLink);        
        if(navigator.msSaveOrOpenBlob){
            var blob = new Blob(['\ufeff', tableHTML], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob( blob, filename);
        }else{
            // Create a link to the file
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;        
            // Setting the file name
            downloadLink.download = filename;            
            //triggering the function
            downloadLink.click();
        }
    }
    </script>

</body>