<html>
    <head>
        <title>home | attendance</title>
    </head>
    <body>

        <h1>welcome back <%= facname[0].fname %> </h1>
        <p>Please select the subject.</p><br>
        <form action="mark" method="POST">
        <select name="addattendance">
            <% users.forEach(function (user) { %>
               <option value="<%= user.cname %>"><%= user.cname %></option>
            <%   });  %>
           </select>
       <button type="submit">Add Attendance</button>
    </form>
    <form action="fview" method="POST">
    <select name="viewatt">
        <% users.forEach(function (user) { %>
           <option value="<%= user.cname %>"><%= user.cname %></option>
        <%   });  %>
       </select>
        <br><button>View Attendance</button>
        
    </body>
</html>